name: Matrix Strategy

on: 
    push: 
        branches:
            - main
    
    pull_request: 
        branches:
            - main

jobs:
    matrixS:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest]
                go-version: ['1.25', '1.25.2']

        runs-on: ${{ matrix.os}}

        steps: 
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Go
              uses: actions/setup-go@v6
              with: 
                go-version: ${{matrix.go-version}}
                cache: true

            - name: Dependencies
              run : go mod download

            - name: Run Test
              run : go test -v ./...